<div class="container-fluid">
    <div class="container">
        <h1 class="text-center my-5 clickable-btn" (click)="getAllProducts()">Information Management Branch Products:</h1>
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <select class="input-group-text" [(ngModel)]="selectedFilter" required>
                    <option *ngFor="let filter of filterArr" [value]="filter.id">
                        {{filter.name}}
                    </option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="Search by Developer or Scrum Master name" [(ngModel)]="search">
            <div class="input-group-append">
                <span class="input-group-text clickable-btn" (click)="getAllProducts()" matTooltip="Clear search results"><i class="bi bi-x"></i></span>
                <span class="input-group-text clickable-btn" (click)="filterProducts()"><i class="bi bi-search"></i></span>
                </div>
            </div>
        <div class="float-end pt-2">
            <button class="btn btn-primary" (click)="addProduct()">+ Add Product</button>
            <p class="mt-3">Total Products: {{products?.length}}</p>
        </div>
        <table class="table mt-5 text-center">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Scrum Master</th>
                    <th>Product Owner</th>
                    <th>Developer(s)</th>
                    <th>Start Date</th>
                    <th>Methodology</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.productId}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.scrumMasterName}}</td>
                    <td>{{product.productOwnerName}}</td>
                    <td>
                        <span *ngFor="let dev of product.Developers; let i = index">
                            {{i+1}}. {{dev}} <br />
                        </span>
                    </td> 
                    <td>{{product.startDate}}</td>
                    <td>{{product.methodology}}</td>
                    <td><i class="bi bi-pencil-fill clickable-btn" (click)="editProduct(product)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>